<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../vendors/bootstrap/css/bootstrap.min.css">
    <!--<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">--> 
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="../assets/icons/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/home.css">
</head>

<body>
   <div class="container-fluid">
  <div class="navbar navbar-inverse navbar-fixed-top opaque-navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navMain">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>   
        </button>   
      </div>      
      <div class="collapse navbar-collapse" id="navMain">
        <ul class="nav navbar-nav pull-right">
          <li class="active"><a href="../home.html">INICIO</a></li>
           <li><a href="sobremi.html">ACERCA DE MI</a></li> 
          <li><a href="proyectos.html">PROYECTOS</a></li>         
          <li><a href="#">REDES</a></li> 
          <li><a href="#">OTROS DATOS</a></li> 
        </ul>
      </div>
    </div>
  </div>
</div>
 
<section class="banner">
  <div class="container">
    <div class="row">
    <h1>
         Soy Mariela, tengo 34 años, egresada de la carrera de Ing. en Administración y Técnica en informática. Tome la decisión
        de apostar por el cambio, ahora UX-Designer, me capacité como frontEnd y trabaje en mejorar mis habilidades blandas. Por
        mi experiencia con el usuario y mi empatía, decidì desarrollame como UX-Designer. 
        Que es más que presentar soluciones fáciles, es interactuar
        con el usuario, observar su problemática, para crear soluciones ágiles, fáciles y amigables con el fin de mejorar su experiencia.
        Continuare capacitándome para enriquecer mis conocimientos profesionales, dispuesta a desempeñarme en un trabajo donde poner en práctica
        mis conocimientos y con cada experiencia seguir mejorando mis habilidades.
   </h1>
    </div>
    </div>
  </section>


<script src="../vendors/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script type="text/javascript" src="vendors/bootstrap/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src=".js"></script>
   
</body>

</html>

